#LandingPage_Header header { 
  margin: auto; 
  text-align: center; 
  width: 50vw;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0075C4;
  margin-top: 4vh; 
  margin-bottom: 4vh; 
}

#LandingPage_Header p {
    margin: auto; 
    width: 50vw; 
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    text-align: center; 
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1F2F3F;
}

#LandingPage_buttons {
    text-align: center; 
    margin: 5vh; 
}

#LandingPage_buttons {
    display: flex; 
    justify-content: space-evenly; 
}

#LandingPage_buttons button {
    color: white; 
    background-color: #0075C4; 
    width: 15vw; 
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;

}

.img {
    width: 100%;
    height: auto;
    display: block; 
    margin: auto; 
}

.wrap {
    position: relative; 
    z-index: 1;
}

.tablet {
    position: absolute; 
    z-index: 3;
    width: 75%;
    left: 12.5%;
    margin-top: 0%;
}

.anchor {
    z-index: 3;
    position: absolute; 
    top: 50%;
}

.topButton {
    z-index: 3;
    position: absolute; 
    bottom: 5%;
    left: 40%;
    background-color: white;
    color: #0075C4;
}

.topButton:hover {
    background-color: #0075C4;

}

.screen {
    margin-top: 4rem;
}