#SMLessonPage_CircleAdComp_subtext {
    width: 712px;
    height: 119px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    margin: 8vw; 
    padding-right: 12vw; 
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    text-align: center;
    color: var(--dark);
}

#SMLessonsPage_CircleAdComp_adWordsGraph {
    margin-top: 40vh; 
    margin-left: 20vw; 
}

#SMLessonsPage_CircleAdComp_subText2 {
    margin-left: 8vw; 
    margin-bottom: 8vh; 
    padding-top: 30vh;
    text-align: center; 
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    width: 745px;
    height: 41px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    color: var(--dark);
}