
#SMLessonPage_uploadForm {
    display: flex; 
    justify-content: center;
    margin-top: 30vh;
    margin-right: 15vw; 
}

#SMLessonPage_uploadForm_textLeft p {
    width: 338px;
    height: 119px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    color: var(--dark);
}

#SMLessonPage_uploadForm_center {
    width: 500px;
    height: 238px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: var(--dark);
    margin: 0vw 4vw;
}

#SMLessonPage_uploadForm_center > header {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    color: #0075C4; 
}

#SMLessonPage_uploadForm_center_form {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#SMLessonPage_uploadForm_center_form_fileName {
    text-align: center;
    width: 50%;
    margin-top: -8px; 
}

#SMLessonPage_uploadForm_center_form_area {
    width: 500px;
    height: 31px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #ffffff;
    font-family: 'Lato', ;
    /* height: 50%; */ 
}
#SMLessonPage_uploadForm_center_form_area_icon {
    width:100%; 
}

#something {
    position: relative;
    top: 5px; 
    height: 15px;
    width: 20px; 
    left: 30px; 
}
#SMLessonPage_uploadForm_center_form_eror p {
    color: red; 
}

#SMLessonPage_uploadForm_center_form input[type=file] {
    font-size: 50pt;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#SMLessonPage_uploadForm_disclaimer {
    width: 180px;
    height: 162px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: var(--dark);
}

#SMLessonPage_uploadForm button  {
    background-color: #0075C4; 
    border-radius: 20px;
    width: 191px;
    height: 47px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

#SMLessonPage_uploadForm_center_form_fileName {
    margin-left: 1.5vw; 
}