@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.center {
    text-align: center;
}

/* Introduction */
#LearnPage_introduction {
    display: flex;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
}

#LearnPage_introduction_Text {
    width: 60%;
}

#LearnPage_introduction_Text header {
    background-color: var(--dark);
    font-family: proxima-nova, sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1.88px;
    color: var(--dark);
    color: #4A47DF;
}

#LearnPage_introduction_Text p {
    font-family: proxima-nova, sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.63px;
    color: var(--dark);
}

/* Definitions */
#LearnPage_definitions_Text {
    display: inline-block;
    text-align: left;
    margin-left: 25%;
    margin-right: 20%;
}

#LearnPage_definitions_Text h2 {
    background-color: var(--dark);
    font-family: proxima-nova, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
    color: #4A47DF;
}

#LearnPage_definitions_Text p {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.63px;
    color: var(--dark);
}

/* Questions */
#LearnPage_questions {
    display: flex;
    /* padding-left: 75px;
    padding-right: 75px; */
    padding-top: 5em;
    padding-bottom: 5em;
    width: 80%;
    margin: auto;
}

#LearnPage_questions_Text h2 {
    background-color: var(--dark);
    font-family: proxima-nova, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
    color: #4A47DF;
    padding-left: 75px;
}

#LearnPage_questions_Text p {
    display: inline-block;
    text-align: left;
    /* width: 750px; */
    height: 172px;
    font-family: proxima-nova, sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.63px;
    color: var(--dark);
    padding-left: 75px;
}

/* Quiz */
#quiz-button {
    font-weight: bold;
    padding: 11px 33px;
    background-color: #4A47DF;
    margin-top: 30px;
}

/* Topics */
#LearnPage_topics {
    position: relative;
    z-index: 2;
    margin-top: 10em;
}

#LearnPage_topics h2 {
    background-color: var(--dark);
    font-family: proxima-nova, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
    color: #4A47DF;
    padding-left: 75px;
    text-align: center
}

#LearnPage_topics_overlay {
    position: relative;
    z-index: 3;
}

#LearnPage_topics_container {
    display: flex;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.topic-container {
    margin: auto;
    overflow: hidden;
    width: 379px;
    height: 635px;
    border-radius: 10px;
    position: relative;
}

#purple-background {
    background: #F0EFFF;
}

#pink-background {
    background: #FF9DB5;
}

#green-background {
    background: #C2F9F6;
}

#topic-content {
    color: #12236A;
    font-weight: bold;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

#topic-content h1 {
    font-size: 28px;
}

#topic-content p {
    line-height: 1.3em;
}

#learn-more-button {
    padding: 11px 23px;
    background: #12236A;
    font-size: 15px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    position: absolute center;
    bottom: 0;
}

#learn-more-button-pink {
    padding: 11px 23px;
    background: #993850;
    font-size: 15px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    position: absolute center;
}

#learn-more-button-green {
    padding: 11px 23px;
    background: #03CABF;
    font-size: 15px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    position: absolute center;
}

#to-top-button {
    background: white;
    color: #4A47DF;
    padding: 11px 23px;
    font-size: 15px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    margin-top: 5em;
    background-color: white;
}

button:hover {
    opacity:1.0;
    box-shadow:none;
}

/* Images */
.img-learn-more {
    margin-top: 3em;
    width: 281px;
    height: 206px;
}

.img-decide {
    width: 345px;
    height: 286px;
    margin-top: 15%;
}

.background-slant {
    position: absolute;
    bottom: 100px;
    z-index: -1;
}

.center {
    width: 90%;
    margin-left: 5%;
}

.overlay{
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 1000px) {
    .background-slant {
        width: 100%;
        height: 90%;
        bottom: 150px;
    }
  }

.quiz {
    z-index: 1;
}