@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar2 {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    display: flex; 
    justify-content: flex-start, space-evenly; 
    align-self: center; 
    padding-top: 30px; 
    overflow: hidden;
  }

  #cognition {
    width: 205px;
    height: 105px;
    font-family: 'Lato', ;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: bold;
    line-height: normal;
    letter-spacing: 0.94px;
    text-align: center;
    color: #313131;
    text-decoration: none;
  }

  .navbar2_header {
    width: 188px;
    height: 27px;
    font-family: 'Lato', ;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    text-align: center;
    color: #343434;
    text-decoration: none;
  }

  #topnav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 4.5vw; 
    margin-top: 1vh; 
  }
  
  .dropdown-content .lessons {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content .lessons:hover {
    background-color: #ddd;
  }

  #dropdown:hover .dropdown-content {
    display: block;
    float: left;
  }
  