@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


#SMLessonPage_introduction {
    display: flex; 
    justify-content: space-around; 
}

#SMLessonPage_introduction{
    padding-top: 100px; 
}


#SMLessonPage_introduction_Text header { 
    width: 552px;
    height: 227px;
    background-color: var(--dark);
    font-family: 'Lato', ;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.88px;
    color: var(--dark);
}

#SMLessonPage_introduction_Text p {
    width: 649px;
    height: 238px;
    font-family: 'Lato', ;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: var(--dark);
}

.socialMediaDashboardImage {
    width: 450px;
    height: 400px;
}

#SMLessonPage_uploadForm {
    display: flex; 
    justify-content: space-around; 
    padding-top: 8vh; 
}

#SMLessonPage_uploadForm_textLeft  p {
  width: 338px;
  height: 119px;
  font-family: 'Lato', ;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  color: var(--dark);
}

#SMLessonPage_uploadForm_center {
  width: 500px;
  height: 238px;
  font-family: 'Lato', ;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.63px;
  color: var(--dark);
}

#SMLessonPage_uploadForm_center_form { 
    position: relative;
    overflow: hidden;
    display: inline-block;
} 

#SMLessonPage_uploadForm_center_form p {
    text-align: center; 
    width: 50%; 
}

#SMLessonPage_uploadForm_center_form_area  {
    width: 500px;
    height: 41px;
    border-radius: 10px;
    border: 3px solid black ;
    background-color: #ffffff;
    font-family: 'Lato', ;
    height: 50%; 
}

#SMLessonPage_uploadForm_center_form input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#SMLessonPage_uploadForm_disclaimer {
  width: 180px;
  height: 162px;
  font-family: 'Lato', ;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: var(--dark);
}




