#AboutPage_header_text1 {
    width: 400px;
    height: 76px;
    font-family: proxima-nova, sans-serif;
    font-size: 35pt;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: block; 
    margin: auto; 
    text-align: center;
    color: #4A47DF;
    margin-top: 5vh; 
}

#AboutPage_header_text2  {
    width: 900px;
    height: 76px;
    font-family: proxima-nova, sans-serif;
    font-size: 15pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: block; 
    margin: auto; 
    text-align: center;
    margin-bottom: 10vh; 
}

.profile_picture {
    height: 260px; 
    width: 245px; 
    padding-left:20px; 
}

.sai {
    width: 235px;
    height: 260px;
}

caption {
    font-size: 12pt;
    display: flex;
    padding: 10px 20px;
    color: black;  
}

#AboutPage_pictures {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    margin-left: 5vw; 
}

.icon {
    height: 30px;
    width: 30px;
    padding-left: 20px;
}

.second {
    padding-left: 10px;
}

.About_Page_profile p {
    padding-left:20px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: flex; 
    margin: 0vw;
}

.AboutPage_profile_name {
    font-family: proxima-nova, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #4A47DF;
    text-align: left;
}

.AboutPage_profile_role {
    margin-top: 1vw;
    font-family: proxima-nova, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-align: left;
}

#AboutPage_profile_kiran_role {
    width: 200px;
}

#AboutPage_profile_jojo_role {
    width: 200px;
}

/* ALIGN CAPTION */
#AboutPage_profile_dayoung_role #AboutPage_profile_sai_role {
    padding-bottom: 2rem;
}

#AboutPage_pictures {
    margin-right: 5vw; 
}

#AboutPage_Cip {
    height: 406px;
    width: 100%; 
    background-color: #4A47DF;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row; 
    margin-top: 5vh; 
}

#AboutPage_Cip_left > img {
    height: 406px;
    width: 250%; 
}

#AboutPage_Cip_right {
    height: 406px; 
    width: 100%; 
    margin-left: 10vw; 
    padding-left: 20vw;
    padding-top: 5vh;  
    text-align: center; 
}

#AboutPage_Cip_right_header {
    font-family: proxima-nova, sans-serif;
    font-size: 30pt;
    font-weight: 500; 
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#AboutPage_Cip_right_text {
    width: 706px;
    height: 60px;
    font-family: proxima-nova, sans-serif;
    font-size: 23px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#AboutPage_Cip_right_button {
    background-color: white; 
    color: #4A47DF;
    padding: 11px 23px;
    font-size: 15px;
    font-weight: normal;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.63px;
    margin-top: 10vh; 
}

button:hover {
    color: #E5E5E5;
    opacity: 1.0;
    box-shadow: none;
}

.left {
    text-align: left;
}